/* Modal.css */

/* Background modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content,
.modal-content-track {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  height: 40%;
  overflow-x: hidden;

}

/* Especifico para o modal de faixas  */
.modal-content-track {
  height: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  background-color: rgb(148, 151, 150);
  padding: 1.5rem;
}

.form-group input {
  padding: 0.3rem;
}

.form-buttons {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.form-container-button {
  display: flex;
}

.form-container-button button {
  flex: 1;
  font-size: 1rem;
  padding: 1rem;
  color: black;
  cursor: pointer;
}